<!doctype html> 

<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Member info page</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	    <link href="css/landing-page.css" rel="stylesheet">

	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/members.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Amatic+SC" />
	<style>
		h1 {
		  	text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
			text-align: center;
		}
	</style>

</head>
<body id="treebg">
	<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Health-E-Tree</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="user"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="add"><span class="glyphicon glyphicon-plus"></span> Add Member</a></li>
                    <li style="padding-right: 15px;"><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
             
            </div>
        </div>
    </nav>
<div style="padding-top: 50px;"></div>
	<h1 id="padding">EDIT</h1>
<form id="content-padding" class="form-horizontal" id="editForm" method="get" action="/user">
	<input type="hidden" name="id" value="{{_id}}">
		<input type="hidden" name="oldname" value="{{name}}">
		<input type="hidden" name="update" value="1">
			<fieldset style="margin: 40px;">
			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Name</label>  
			  <div class="col-md-3">
			  <input name="name" type="text" class="form-control input-md" value="{{name}}" required="true">
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Relationship</label> 
			  <div class="col-md-3">
			  <input  name="relationship" value="{{relationship}}" type="text" class="form-control input-md" required="true">
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Family Side</label>  
			  <div class="col-md-3">
			  <input name="side" value="{{side}}" type="text" placeholder="Enter 'mom' or 'dad'" class="form-control input-md" required="true">
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Gender</label>  
			  <div class="col-md-2">
			  <input name="gender" value="{{gender}}" type="text" class="form-control input-md">  
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Age</label>  
			  <div class="col-md-2">
			  <input name="age" value="{{age}}" type="text" class="form-control input-md">
			  </div>
			</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Height</label>  
			  <div class="col-md-2">
			  <input name="height" value='{{height}}' type="text" class="form-control input-md">
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Weight</label>  
			  <div class="col-md-2">
			  <input name="weight" value='{{weight}}' type="text" class="form-control input-md">
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Allergies</label>  
			  <div class="col-md-3">
			  	<textarea name="allergy" type="text" class="form-control input-md" contentediable='true'>{{allergy}}</textarea>
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Sensitivities</label>  
			  <div class="col-md-3">
			  	<textarea name="sense" type="text" class="form-control input-md" contenteditable='true'>{{sensitivity}}</textarea>
			  
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Heart Conditions</label>  
			  <div class="col-md-3">
			  	<textarea name="heart" type="text" class="form-control input-md" contenteditable='true'>{{heart}}</textarea>
			  </div>
			</div>

			<div class="form-group">
			  <label class="col-md-4 control-label">Medications</label>  
			  <div class="col-md-3">
			  	<textarea name="med" type="text" class="form-control input-md" contenteditable='true'>{{med}}</textarea>
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Behavioral Problems</label>  
			  <div class="col-md-3">
			  	<textarea name="bprob"  type="text" class="form-control input-md" contenteditable>{{bprob}}</textarea>
			  </div>
			</div>
			

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Emotional Problems</label>  
			  <div class="col-md-3">
			  	<textarea name="eprob" type="text" class="form-control input-md" contenteditable='true'>{{eprob}}</textarea>
			  </div>
			</div>

			<!-- Text input-->
			<div class="form-group">
			  <label class="col-md-4 control-label">Eye Conditions</label>  
			  <div class="col-md-3">
			  	<textarea name="eye" type="text" class="form-control input-md" contenteditable='true'>{{eye}}</textarea>
			  </div>
			</div>
			</fieldset>
			<div class="wrapper">
				<button class="btn btn-danger" type="reset">Reset</button> 
				<input type="submit" class="btn btn-success" id="done" value="Submit">		
				<div style="padding-top: 10px;"></div>
				<button type="button" class="btn btn-default" onclick="location.href='user'">Cancel</button>	
			</div>
		</form>

	<!--<form id="editForm" method="get" action="/user">
		<input type="hidden" name="id" value="{{_id}}">
		<input type="hidden" name="oldname" value="{{name}}">
		<input type="hidden" name="update" value="1">
		<label>Name</label><input type="text" name="name" value="{{name}}"><br>
		<label>Relationship</label><input type="text" name="relationship" value="{{relationship}}"><br>
		<label>Family Side</label><input type="text" name="side" value="{{side}}"><br>
		<label>Gender</label>
			<input type"text" name="gender" value="{{gender}}"><br>
		<label>Age</label><input type="text" name="age" value="{{age}}"><br>
		<label>Height</label><input type="text" name="height" value='{{height}}'><br>
		<label>Weight</label><input type="text" name="weight" value='{{weight}}'><br>
		<br><label>Allergies</label><textarea name="allergy" style="width: 250px; height: 40px" contentediable='true'>{{allergy}}</textarea><br>
		<br><label>Sensitivities</label><textarea name="sense" style="width: 250px; height: 40px" contenteditable='true'>{{sensitivity}}</textarea><br>
		<br><label>Heart conditions</label><textarea name="heart" style="width: 250px; height: 40px" contenteditable='true'>{{heart}}</textarea><br>
		<br><label>Medications</label><textarea name="med" style="width: 250px; height: 40px" contenteditable='true'>{{med}}</textarea><br>
		<br><label>Behavioral problems</label><textarea name="bprob" style="width: 250px; height: 40px" contenteditable>{{bprob}}</textarea><br>
		<br><label>Emotional problems</label><textarea name="eprob" style="width: 250px; height: 40px" contenteditable='true'>{{eprob}}</textarea><br>
		<br><label>Eye conditions</label><textarea name="eye" style="width: 250px; height: 40px" contenteditable='true'>{{eye}}</textarea><br>
		<input type="submit" id="edited">
	</form>-->

</body>
</html>