<!doctype html> 

<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Member info page</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	    <link href="css/landing-page.css" rel="stylesheet">

	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/members.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Amatic+SC" />
	<style>
		h1 {
		  	text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
			text-align: center;
		}
	</style>

</head>
<body id="treebg">
	<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Health-E-Tree</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="user"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="add"><span class="glyphicon glyphicon-plus"></span> Add Member</a></li>
                    <li style="padding-right: 15px;"><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
             
            </div>
        </div>
    </nav>
<div style="padding-top: 50px;"></div>
	<h1 id="padding">INFO</h1>

	<p id="content-padding" id="info" style="font-family: Helvetica, Arial, Sans-Serif">
		Name: <span id="inputcontent" class="json"> {{name}} </span> <br>
		Relationship: <span id="inputcontent" class="json"> {{relationship}} </span> <br>
		Side: <span id="inputcontent" class="json"> {{side}} </span> <br>
		Gender: <span id="inputcontent" class="json"> {{gender}} </span> <br>
		Age: <span id="inputcontent" class="json"> {{age}} </span> <br>
		Height: <span id="inputcontent" class="json"> {{height}} </span> <br>
		Weight: <span id="inputcontent" class="json"> {{weight}} </span> <br>
		Allergies: <span id="inputcontent" class="json"> {{allergy}} </span> <br>
		Sensitivities: <span id="inputcontent" class="json"> {{sensitivity}} </span> <br>
		Heart conditions: <span id="inputcontent" class="json"> {{heart}} </span> <br>
		Medications: <span id="inputcontent" class="json"> {{med}} </span> <br>
		Behavioral problems: <span id="inputcontent" class="json"> {{bprob}} </span> <br>
		Emotional problems: <span id="inputcontent" class="json"> {{eprob}} </span> <br>
		Eye conditions: <span id="inputcontent" class="json"> {{eye}} </span>
	</p><br>
	<div class="wrapper">
		<button type="button" class="btn btn-danger" id="delete"><span class="glyphicon glyphicon-remove"></span>Delete</button>
		<button type="button" class="btn btn-primary" id="edit" ><span class="glyphicon glyphicon-pencil"></span>Edit</button>
	</div>
	<!--<button type="button" id="close">Close</button>-->

	<script>

	/*function vanish(){
		console.log("reached");
		var x = document.getElementsByClassName("json");
		var i; 
		for( i = 0; i < x.length; i++) {
			x[i].innerHTML = ""; 
		}
	}*/
	document.getElementById("delete").onclick = function (e) {
		window.location.href = 'user?remove=1&side={{side}}&relationship={{relationship}}&name={{name}}&id={{id}}';

		
	}
	document.getElementById("edit").onclick = function (e) {
		window.location.href='edit?side={{side}}&relationship={{relationship}}&name={{name}}&id={{id}}';
		/*var d = window.self;
		d.opener = window.self;
		d.close();*/
	};
	</script>

</body>
</html>