<!doctype html> 

<html lang="en">
<head>
	

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User page</title>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link href="css/landing-page.css" rel="stylesheet">

	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/members.js"></script>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Amatic+SC" />
	<style>
		h1 {
		  	text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
			text-align: center;
		}
	</style>

</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Health-E-Tree</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="user"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    
                    	<li><a  class="addBtn" href="add"><span class="glyphicon glyphicon-plus"></span> Add Member</a></li>
                   
                    <li style="padding-right: 5px;"><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
<div style="padding-top: 50px;"></div>
	<h1 id="padding">FAMILY TREE</h1>

	<div class="container center-block">

	      	<div class="tree">
			<ul>
				<li>
					<button id="me"><a href="javascript:void(0);" title="Add New Member" onclick="location.href='info_me'");>Me</a></button>
					
					<ul>
						<li>
							<details>
								<summary>Dad's side 
									<a class="btn btn-default" href="add"><span class="glyphicon glyphicon-plus"></span>Add</a>

								</summary>
								<ol id="dadlist">						
									{{#each dtree}}
										<button id="button{{id}}"><a href="#" title="Info" onclick="location.href='info?side={{side}}&relationship={{relationship}}&name={{name}}&id={{id}}'");>{{relationship}} {{name}}</a></button><br>
									{{/each}}
								
								</ol>
							</details>

						</li>
						<li>
							<details>
								<summary>Mom's side 
									<a class="btn btn-default" href="add"><span class="glyphicon glyphicon-plus"></span>Add</a>
								
								</summary>
								<ol id="momlist">
									{{#each mtree}}
										<button id="button{{id}}"><a href="#" title="Info" onclick="location.href='info?side={{side}}&relationship={{relationship}}&name={{name}}&id={{id}}'");>{{relationship}} {{name}}</a></button><br>									
									{{/each}}
								</ol>
							</details>
						
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<button type="button" id="help" class="btn btn-danger" title="How to use the app" data-container="body" data-toggle="popover" data-content="To add, click on the add button on the tree or in the navigation bar on top. To delete/edit, click on individual members to access the features on the bottom of their info page. To view a member's info, expand the mom's or dad's side dropdown list that he/she belongs to, find the member and click on the name."><span class="glyphicon glyphicon-wrench"></span>HELP</button>


</body>
</html>