<!doctype html> 

<html lang="en">
<head>
	<!-- Google Analytics Content Experiment code -->
	<script>function utmx_section(){}function utmx(){}(function(){var
	k='134318753-1',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script>
	<!-- End of Google Analytics Content Experiment code -->


	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>User page</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css"/>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/members.js"></script>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Amatic+SC" />
	<style>
		h1 {
			font: 400 100px/1.3 'Amatic SC';
		  	text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgba(0,0,0,0.15);
			text-align: center;
		}
	</style>

</head>
<body>
	<!-- comment here -->
	<!--<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span> 
	      </button>
	      <a class="navbar-brand" href="#">Health-E-Tree</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      <ul class="nav navbar-nav">
  			<li class="active"><a href="user"><span class="glyphicon glyphicon-home"></span> Home</a></li>
		      <li><a href="add"><span class="glyphicon glyphicon-plus"></span> Add Member</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li style="padding-right: 15px;"><a href="login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>-->
	<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Health-E-Tree</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="user"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                    {{#unless homepage2}}
                    	<li><a  class="addBtn" href="add"><span class="glyphicon glyphicon-plus"></span> Add Member</a></li>
                    {{/unless}}
                    <li style="padding-right: 15px;"><a href="/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
             
            </div>
        </div>
    </nav>
<div style="padding-top: 50px;"></div>
	<h1>Family Tree</h1>

	<div class="container center-block">

	      	<div class="tree">
			<ul>
				<li>
					<button id="me"><a href="javascript:void(0);" title="Add New Member" onclick="location.href='info_me'");>Me</a></button>
					
					<ul>
						<li>
							<details>
								<summary>Dad's side 
									{{#if homepage2}}
										<button class="addBtn"><a class="btn btn-default" href="add"><span class="glyphicon glyphicon-plus"></span>Add</a></button>
									{{/if}}
								</summary>
								<ol id="dadlist">						
									{{#each dtree}}
										<button id="button{{id}}"><a href="#" title="Info" onclick="location.href='info?side={{side}}&relationship={{relationship}}&name={{name}}&id={{id}}'");>{{relationship}} {{name}}</a></button><br>
									{{/each}}
								
								</ol>
							</details>

						</li>
						<li>
							<details>
								<summary>Mom's side 
									{{#if homepage2}}
									<button class="addBtn"><a class="btn btn-default" href="add"><span class="glyphicon glyphicon-plus"></span>Add</a></button>
									{{/if}}
								</summary>
								<ol id="momlist">
									{{#each mtree}}
										<button id="button{{id}}"><a href="#" title="Info" onclick="location.href='info?side={{side}}&relationship={{relationship}}&name={{name}}&id={{id}}'");>{{relationship}} {{name}}</a></button><br>									
									{{/each}}
								</ol>
							</details>
						
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<button type="button" id="help" class="btn btn-danger" title="How to use the app" data-container="body" data-toggle="popover" data-content="To delete/edit, click on individual members to access the features on the bottom of their info page. To view a member's info, expand the mom's or dad's side dropdown list that he/she belongs to, find the member and click on the name."><span class="glyphicon glyphicon-wrench"></span>HELP</button>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-87816354-1', 'auto');
	  ga('send', 'pageview');

	</script>
</body>
</html>